
#divLang {
    position: absolute;
    z-index: 8;
    height: 5%;
    width: 20%;
    top: 3%;
    left: 3%;
}

#divManager {
    position: absolute;
    z-index: 8;
    height: 17%;
    width: 6%;
    top: 80%;
    left: 36%;
}

#divVopros {
    position: absolute;
    height: 5%;
    width: 3%;
    top: 75%;
    left: 42%;
}

#divSpinner {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 45%;
    left: 45%;
    text-align: center;
    background-repeat: no-repeat; 
    background-size:100%; 
    -o-background-size: 100%; 
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
}

#divRedirectBttn {
    position: absolute;
    z-index: 8;
    height: 20%;
    width: 25%;
    top: 90%;
    left: 50%;
}

#divRedirect {
    position: absolute;
    z-index: 8;
    height: 18%;
    width: 18%;
    top: 72%;
    left: 53%;
    border-color: #dddddd;
    border-style: solid solid solid hidden;
    border-width: 1px 1px 1px 1px;
    text-align: center;
    background-image: url(../img/shop_door_close.jpg);
    background-repeat: no-repeat; 
    background-size:100%; 
    -o-background-size: 100%; 
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
}

.divRainSnow {
    position: absolute;
    z-index: 6;
    height: 10%;
    width: 10%;
    left: 0%;
    background-repeat: repeat-x; 
    background-repeat: no-repeat; 
}

body {
    background-image: url(../img/shop_bd_small.jpg); 
    background-repeat: no-repeat; 
    background-size:100%; 
    -o-background-size: 100%; 
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
}

.bttnEntrance{
    width: 50%;
    height: 25%;
    color: #000000;
}

.bttnRent{
    width: 45%;
    height: 25%;
    color: #000000;
}

#div_shop_info{
    position: fixed;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -25%;
    width: 0%;
    height: 0%;
    background-color: lightyellow;
    z-index: 10;
    border-color: orange;
    border-style: double double double double;
    border-width: 2px 2px 2px 2px;
    text-align: center;
}

.shop_article_name {
    text-align: left;
    color: black;
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #D20005; 
    background:none repeat scroll 0 0 #FFFFFFF;
}

.small_title_text {
    text-align: center;
    font-weight : bold;
    color: darkgreen;
}

.ui-icon-cancel{
    width: 20px;
    height: 20px;
}
